# Finding 2 using Pandas - Joe

# Ratings and Revenue

Is there a noticeable relationship between ratings and the top film gross revenue?

## import the data

In [1]:
#necessary imports

import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [2]:
#add pandas display options for number and column display

pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

In [4]:
#importing data using glob

datafiles = glob("./zippedData/*.csv.gz")
datafiles

['./zippedData\\bom.movie_gross.csv.gz',
 './zippedData\\imdb.name.basics.csv.gz',
 './zippedData\\imdb.title.akas.csv.gz',
 './zippedData\\imdb.title.basics.csv.gz',
 './zippedData\\imdb.title.crew.csv.gz',
 './zippedData\\imdb.title.principals.csv.gz',
 './zippedData\\rt.movie_info.csv.gz',
 './zippedData\\rt.reviews.csv.gz',
 './zippedData\\tmdb.movies.csv.gz',
 './zippedData\\tn.movie_budgets.csv.gz']

In [5]:
# cleaning the filenames

csv_files_dict = {} #create a dictionary of datasets
for filename in csv_files: #create a for loop to batch clean files
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") #remove .csv file extensions
    filename_df = pd.read_csv(filename, index_col=0, encoding='utf-8') 
    csv_files_dict[filename_cleaned] = filename_df #load .csv file as dataframe using col 1 as index and encode in utf-8 and save as the cleaned filename

In [6]:
print(datafiles_dict.keys()) #print dictionary keys

dict_keys(['bom_movie_gross', 'imdb_name_basics', 'imdb_title_akas', 'imdb_title_basics', 'imdb_title_crew', 'imdb_title_principals', 'rt_movie_info', 'rt_reviews', 'tmdb_movies', 'tn_movie_budgets'])

In [7]:
#load in dataset in csv to dataframe

tmdb_mglb_df = pd.read_csv('./zippedData/tmdb_mglb.csv')

tmdb_mglb_df.head() #call first 5 rows

,Unnamed: 0,id,original_title,popularity,release_date_x,title,vote_average,vote_count,Fantasy,Drama,War,Mystery,Comedy,Romance,Family,Music,Documentary,Animation,Western,Action,Crime,Thriller,TV Movie,Adventure,History,Science Fiction,Horror,original_language,release_date_y,movie,production_budget,domestic_gross,worldwide_gross,domesticgross_v_production,total_net
0,0,12444,Harry Potter and the Deathly Hallows: Part 1,33.53,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.70,10788,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,English,NaN,NaN,nan,nan,nan,nan,nan
1,1,10191,How to Train Your Dragon,28.73,2010-03-26,How to Train Your Dragon,7.70,7610,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,English,"Mar 26, 2010",How to Train Your Dragon,165000000.00,217581232.00,494870992.00,52581232.00,329870992.00
2,2,10138,Iron Man 2,28.52,2010-05-07,Iron Man 2,6.80,12368,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,English,"May 7, 2010",Iron Man 2,170000000.00,312433331.00,621156389.00,142433331.00,451156389.00
3,3,862,Toy Story,28.00,1995-11-22,Toy Story,7.90,10174,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,English,"Nov 22, 1995",Toy Story,30000000.00,191796233.00,364545516.00,161796233.00,334545516.00
4,4,27205,Inception,27.92,2010-07-16,Inception,8.30,22186,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,English,"Jul 16, 2010",Inception,160000000.00,292576195.00,835524642.00,132576195.00,675524642.00

In [8]:
tmdb_mglb_df = tmdb_mglb_df.drop(['Unnamed: 0', 'movie', 'title'], axis=1) #drop columns

## Ratings

Review user-generated review/rating aka Audience Score

### Of the films with the top 5 box office revenue, how were the ratings?

KAT

**Finding**: We can see that there is not a significant with the top 5 films having the highest box office revenue.

### Is there a common genre associated with top ratings?

KAT

**Finding**: Films with the highest ratings and highest box office revenue are primarily distributed within the action, adventure, comedy and drama genres.

### Popularity, Gross Profit and Net Revenue: are there any notable patterns?

***Movie Popularity metric in TMDB calculated by:***<br>
<ul><li>Number of votes for the day</li>
    <li>Number of views for the day</li>
    <li>Number of users who marked it as a "favourite" for the day</li>
    <li>Number of users who added it to their "watchlist" for the day</li>
    <li>Release date</li>
    <li>Number of total votes</li>
    <li>Previous days score</li>

In [ ]:
#set new dataframe
popularity = tmdb_mglb_df.loc[:, ['original_title', 'popularity', 'worldwide_gross', 'total_net']]
popularity.head()

In [ ]:
#sort by popularity

popularity = popularity.sort_values(by=['popularity'], ascending=False)

popularity.head()

In [ ]:
#remove rows with empty values

popularity = popularity.dropna()

In [ ]:
#reset index of sorted dataframe and drop old index

popularity = popularity.reset_index(drop=True)

popularity

In [ ]:
#set new dataframe of top 25 most popular movies

pop25 = popularity[:25]
pop25

Plotting Popularity

In [ ]:
#setting plot variables 
mov = pop25.loc[:, 'original_title']
pop = pop25.loc[:, 'popularity']
gross = pop25.loc[:, 'worldwide_gross']
net = pop25.loc[:, 'total_net']

In [ ]:
#plot movie vs. popularity rating

%matplotlib inline
plt.barh(mov, pop)
plt.show()

In [ ]:
#calculate median of top 25 popularity score

pop25.loc[:, 'popularity'].median()

In [ ]:
#popularity vs. gross

plt.bar(pop, gross)
plt.show()

In [ ]:
#calculate median of gross

pop25.loc[:, 'worldwide_gross'].median()

In [ ]:
#popularity vs. net

plt.bar(pop, net)
plt.show()

In [ ]:
popularity25.loc[:, 'total_net'].median() #calulate median of column

**Finding**: Of the Top 25 movies with the highest popularity rating, an average rating of 44.383 correlated to a gross revenue of \\$652,220,086 and net profits of \\$493,144,660, respectively.

## Data Visualizations

line graph of what gross profit looks like considering popularity. (popularity is the Y axis and dollars is the X axis)